@media (min-width: 620px) {

    * {
        background-color: #0fc44e;
        font-family: sans-serif;
        color: black;
        font-size: 18px;
    }

    .navi {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 100%;
        margin: 30px 50px
    }

    .Spoofify {
        font-size: 32px;
    }

    .buttons a {
        text-decoration: none;
        color: white;
        font-size: 16px;
        border: 1px white solid;
        border-radius: 30px;
        padding: 15px 10px
    }

    body {
        margin: 0;
        padding: 0;
    }

    main {
        margin: 50px 50px 50px 50px;
    }

    .ma1ti1 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px
    }

    .ma2ti2 {
        font-size: 26px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px
    }

    .ma2 ol li {
        margin-bottom: 6px;
    }

    .ma3 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        align-items: center;
    }

    .ma3ti {
        align-self: flex-start;
        font-size: 26px;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .ma3picturesrow1, .ma3picturesrow2 {
        display: flex;
        justify-content: space-between;
        max-width: 100%;
    }

    .ma3picturesrow1 img, .ma3picturesrow2 img {
        width: 70%;
    }

    .imgdiv {
        margin-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .trackk {
        text-align: center;
        min-height: 20px;
    }

    .Player {
        margin-top: 40px;
        font-size: 26px;
        font-weight: bold;
    }

    footer {
        display: flex;
        justify-content: center;
        margin-top: 200px;
    }

    .f1 {
        display: flex;
        justify-content: flex-start;
        align-items: start;
        background-color: #acd9b9;
        padding: 30px 20px;
        width: 80%;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }

    .f1t {
        background-color: transparent;
    }
}